#top_links_wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Prevent line breaks */
  width: max-content; /* Use content width */
}

/* Alternative: Set a specific width if you know the content size */
#top_links_wrapper .site-nav {
  display: flex;
  flex-wrap: nowrap; /* Prevent flex items from wrapping */
}

/* For better responsive behavior */
@media screen and (max-width:1375px) {
  .site-header {
      display: none;
  }
  .mobile-nav-bar--inner, .mobile-nav-bar-wrapper {
      display: block !important;
  }
  #top_links_wrapper {
    position: static;
    transform: none;
    display: flex;
    justify-content: center;
  }
}

.product-card__image {
  background-color: var(--product-collection-background-color) !important;
}

div[data-product-media-wrapper] .theme-img {
  background-color: var(--product-card-background-color) !important;
}

.product-card__image--secondary img {
  background-color: var(--body-color);
}

ul.site-nav li.first-level-dropdown {
  font-weight: bold;
}
.top-links ul.site-nav {
  column-gap: 10px;
}
ul.site-nav li.first-level-dropdown:hover {
  background-color: #e3e3e3; /* Light gray */
  border-radius: 6px; /* Slight rounding */
}
.first-level-dropdown .site-nav__link {
  padding: 7.5px 15px;
}
ul.site-nav li.first-level-dropdown:hover > a {
  text-decoration: none; /* Remove underline */
}


.custom-button {
  transform: scale(0.9, 0.9);
}

.custom-button:hover {
  background-color: #000000; /* Black background */
  color: #ffffff !important; /* White text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.bottom--footer---links li.nav-link-animated--custom {
    visibility: hidden;
}

.swatch .swatch-items-wrapper .swatch-element.color:not(.image-swatch) label {
    width: 70px !important;
    height: 70px !important;
}

.swatch-element.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swatch-element.color .swatch-label {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.2;
}

.cart--button-update {
  color: var(--primary-btn-text-color) !important;
}

.product--add-to-cart-button:hover, .quick-add-button:hover, .quick-add-button-variants:hover {
  background-color: var(--primary-btn-text-color);
  color: white;
}

@media screen and (min-width: 768px) {
  #slide-up .popup--close-btn {
    color: white;
  }
}

.mobile-nav.locale--mobile:after {
  border: 0 !important;
}