ul.site-nav li.first-level-dropdown {
  font-weight: bold;
}
.top-links ul.site-nav {
  column-gap: 10px;
}
ul.site-nav li.first-level-dropdown:hover {
  background-color: #e3e3e3; /* Light gray */
  border-radius: 6px; /* Slight rounding */
}
.first-level-dropdown .site-nav__link {
  padding: 7.5px 15px;
}
ul.site-nav li.first-level-dropdown:hover > a {
  text-decoration: none; /* Remove underline */
}
#top_links_wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-button {
  transform: scale(0.9, 0.9);
}

.custom-button:hover {
  background-color: #000000; /* Black background */
  color: #ffffff !important; /* White text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.bottom--footer---links li.nav-link-animated--custom {
    visibility: hidden;
}

.swatch .swatch-items-wrapper .swatch-element.color:not(.image-swatch) label {
    width: 70px !important;
    height: 70px !important;
}

.swatch-element.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swatch-element.color .swatch-label {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.2;
}